{% extends "base.html" %} 

{% load static %}

{% block content %}

<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laborum vel odit ullam nostrum officia, illo eum quibusdam asperiores. Est optio quia, maxime similique odit corporis, ullam, placeat temporibus aspernatur deserunt amet in numquam. Rerum voluptate temporibus minus accusantium consequatur exercitationem nihil nam impedit ullam nulla laudantium a nisi, sunt in, quos, aliquid repellendus nostrum. Magnam, eos deserunt. Quia, perferendis cum! Alias, provident, error repellendus voluptatum pariatur aliquam totam delectus soluta ea, nulla quaerat quasi quia beatae velit earum voluptatibus veniam recusandae perspiciatis sunt excepturi. In suscipit quasi, iure obcaecati, fugit recusandae atque debitis accusantium cum soluta pariatur quos aspernatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quod harum eaque nostrum iure quos inventore a itaque, veniam qui voluptatum ratione soluta architecto dolorem quam cumque amet, voluptatibus recusandae.</p>
        <button class="btn btn-primary w-100">Buy Now</button>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <img class='img-fluid' src="{% static 'car_home.jpg' %}" alt="">
      </div>
    </div>
  </div>
</div>


<div class="container py-4">
  <div class="row">
    <div class="col-md-3">
      <h5>Brands</h5>
      <div class="list-group">
        {% for i in category %}
          <a href="{% url 'category_wise_post' i.slug %}" class="list-group-item list-group-item-action">{{ i.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-9">
      <h3>Cars</h3>
      <p>{{ data|length }} results found</p>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for post in data %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ post.image_url }}" class="card-img-top" alt="Car Image">
            <div class="card-body">
              <h5 class="card-title">{{ post.car_name }}</h5>
              <p class="card-text">Price: ${{ post.car_price }}</p>
              <p class="card-text">Brand: {{ post.brand.name }}</p>
              <a href="{% url 'car_details' post.id %}" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
